body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 65%;
  margin: 20px auto;
  border: 20px solid #bdc3c7;
  padding: 20px;
}

.post {
  margin: 10px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.date {
  color: #3498db;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h2 {
  color: #2c3e50;
}

.quote {
  font-size: 14px;
  padding-left: 3px;
  border-left: 3px solid #bdc3c7;
}
