img {
  width: 30%;
  float: left; /*get rid of he white space provided by browser*/
  margin: 1.66%;
}

p {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 800;
  margin-left: 1.66%;
  text-transform: uppercase;
  width: 30%;
  border-bottom: 2px solid #F1F1F1;
  padding-bottom: 20px;
}
